.transactionHistory {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
  text-align: center;
}

.transactionHistory th,
.transactionHistory td {
  border: 2px solid #1f1f1f;
  padding: 16px;
  font-size: 24px;
}

.transactionHistory thead {
  background-color: #2d2d30;
  color: #f4f4f4;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}
