.card {
  width: 260px;
  border: 3px solid #222;
  border-radius: 16px;
  background-color: #ececec;
  padding: 20px;
  text-align: center;
}

.avatar {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto 16px;
  object-fit: contain;
}

.name {
  margin: 0;
  font-size: 64px;
  line-height: 1;
  color: #000;
}

.status {
  margin: 18px 0 0;
  font-size: 48px;
  line-height: 1;
}

.online {
  color: #2f7d2f;
}

.offline {
  color: #d3362d;
}
